{{ if .IsHome }}
    <meta itemprop="name" content="{{ .Title }}">
    <meta property="og:site_name" content="{{ .Title }}">
    <meta property="og:title" content="{{ .Title }}">
{{ else }}
    <meta itemprop="name" content="{{ .Site.Title }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Title }} – {{ .Site.Title }}">
{{ end }}
<meta property="og:type" content="blog">
<meta property="og:url" content="{{ .Permalink }}">

{{ if isset .Params "summary" }}
    <meta name="description" content="{{ .Params.summary }}">
    <meta property="og:description" content="{{ .Params.summary }}">
{{ else if isset .Site.Params "summary" }}
    <meta name="description" content="{{ .Site.Params.summary }}">
    <meta property="og:description" content="{{ .Site.Params.summary }}">
{{ end }}

{{ if isset .Params "ogpImage" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}/images/{{ .Params.ogpImage }}">
    <meta itemprop="image" content="{{ .Site.BaseURL }}/images/{{ .Params.ogpImage }}">
{{ else if isset .Site.Params "ogpImage" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}/images/{{ .Site.Params.ogpImage }}">
    <meta itemprop="image" content="{{ .Site.BaseURL }}/images/{{ .Site.Params.ogpImage }}">
{{ end }}

<meta name="twitter:card"  content="summary_large_image">
{{ with .Site.Params.twitter }}<meta name="twitter:site" content="@{{ . }}">{{ end }}
