<footer class="site-footer">
    {{ if (ne .Layout "page") }}
        <section class="author">
            <h1>著者</h1>
            <img
                class="author-icon"
                alt="著者のアイコン"
                src="{{ .Site.BaseURL }}/images/kubosho.jpg"
                srcset="{{ .Site.BaseURL }}/images/kubosho.jpg 1x, {{ .Site.BaseURL }}/images/kubosho@2x.jpg 2x"
                width="100"
                height="100"
            >
            <div class="author-texts">
                <p class="author-name">kubosho_ (Shota Kubota)</p>
                <p class="author-description">
                    Web制作会社やスマートフォン向けのゲーム制作会社などを経て、株式会社サイバーエージェントにてAbemaTVのWebクライアントサイドの開発に従事。業務では主に新機能の開発やCSS周りの足回り整備などに取り組んでいる。
                </p>
            </div>
        </section>
    {{ end }}

    <nav class="site-navigation">
        <small class="copyrights">© 2014 Shota Kubota</small>
        <ul>
            <li><a href="{{ .Site.BaseURL }}/privacy">プライバシーポリシー</a></li>
            <li><a href="{{ .Site.BaseURL }}/feed.xml">RSS</a></li>
        </ul>
    </nav>
</footer>
