@import "./vars.pcss";

.site-contents {
  margin: calc(var(--space) * 6) 0 calc(var(--space) * 12);
}
@media (--xx-large-viewport) {
  .site-contents {
    margin: calc(var(--space) * 12) 0 calc(var(--space) * 18);
  }
}
