@import "./vars.pcss";

.site-footer .author::after {
  display: block;
  content: "";
  clear: both;
}

.site-footer .author h1 {
  margin: 0 0 calc(var(--space) * 2);
  font-size: calc(var(--big-text-ratio) * 1rem);
}

.site-footer .author-icon {
  float: left;
  margin-right: calc(var(--space) * 2);
}

.site-footer .author-name {
  margin: 0;
  margin-right: calc(var(--space) * 2);
}

.site-footer .author-description {
  margin: 0;
}
