@import "./vars.pcss";

.site-title {
  font-size: calc(var(--big-text-ratio) * 1rem);
  line-height: 1;
}

.site-title a {
  color: var(--color-text--light);
}

.site-title .author-icon {
  margin-right: var(--space);
}

.site-header {
  padding-top: calc(var(--space) * 4);
  padding-bottom: calc(var(--space) * 4);
  margin-bottom: calc(var(--space) * 8);
  background-color: var(--color-main);
}

.site-header .site-title {
  margin: 0;
}
