:root {
  /* Color (general) */
  --color-bg--dark: #171717;
  --color-bg--light: #f9fcff;
  --color-text--light: #f9fcff;
  --color-link: #0063ac;

  /* Color (this site context) */
  --color-main: #003760;
  --color-accent: #a6a200;

  --space: 4px;
  --border-size: 1px;

  /* Font */
  --text-ratio: 1;
  --text-ratio-large: 1.25;
  --text-ratio-huge: 1.5;
}
