:root {
  /* Color (general) */
  --color-bg--dark:  #393939;
  --color-bg--light:  #f9fcff;
  --color-text--light:  #f9fcff;
  --color-link: #0063ac;

  /* Color (this site context) */
  --color-main: #003760;

  --space: 4px;
  --border-size: 1px;

  --ratio: 1.5;
  --text-ratio: 1;
  --medium-text-ratio: calc((var(--text-ratio) + var(--ratio)) / 2);
  --big-text-ratio: calc(var(--text-ratio) * var(--ratio) / 1.2);
}
html {
  font-size: calc(var(--text-ratio) * 1.1rem);
}
@media (min-width: 60em) {
  html {
    font-size: calc(var(--medium-text-ratio) * 0.9rem);
  }
}
@media (min-width: 90em) {
  html {
    font-size: calc(var(--big-text-ratio) * 0.9rem);
  }
}
@media (min-width: 120em) {
  html {
    font-size: 1vw;
  }
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--color-bg--light);
  font-family: "Hiragino Kaku Gothic ProN", YuGothic, "游ゴシック", Helvetica, sans-serif;
  font-weight: 500;
  font-feature-settings: "palt";
  text-rendering: optimizeLegibility;
}
body > * {
  padding-right: 5%;
  padding-left: 5%;
}
@media (min-width: 60em) {
  body > * {
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media (min-width: 90em) {
  body > * {
    padding-right: 15%;
    padding-left: 15%;
  }
}
@media (min-width: 120em) {
  body > * {
    padding-right: 20%;
    padding-left: 20%;
  }
}
a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote {
  padding-left: calc(var(--space) * 2);
  border-left: calc(var(--border-size) * 4) solid var(--color-main);
}
h1 {
  color: var(--color-main);
}
pre {
  white-space: pre-wrap;
}
pre code {
  display: block;
  padding: calc(var(--space) * 2);
  background-color: var(--color-bg--dark);
  color: var(--color-text--light);
  font-family: 'Fira Code', Consolas, 'Courier New', monospace;
}
.site-title {
  font-size: calc(var(--big-text-ratio) * 1rem);
  line-height: 1;
}
.site-title a {
  color: var(--color-text--light);
}
.site-title .author-icon {
  margin-right: var(--space);
}
.site-header {
  padding-top: calc(var(--space) * 4);
  padding-bottom: calc(var(--space) * 4);
  background-color: var(--color-main);
}
.site-header .site-title {
  margin: 0;
}
.site-contents {
  margin: calc(var(--space) * 6) 0 calc(var(--space) * 12);
}
@media (min-width: 120em) {
  .site-contents {
    margin: calc(var(--space) * 12) 0 calc(var(--space) * 18);
  }
}
.site-footer .author::after {
  display: block;
  content: "";
  clear: both;
}
.site-footer .author h1 {
  margin: 0 0 calc(var(--space) * 2);
  font-size: calc(var(--big-text-ratio) * 1rem);
}
.site-footer .author-icon {
  float: left;
  margin-right: calc(var(--space) * 2);
}
.site-footer .author-name {
  margin: 0;
  margin-right: calc(var(--space) * 2);
}
.site-footer .author-description {
  margin: 0;
}
.site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(var(--space) * 2);
  margin: calc(var(--space) * 4) 0 calc(var(--space) * 4);
  border-top: var(--border-size) solid var(--color-main);
}
.site-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.site-navigation .copyrights {
  display: inline-block;
  margin-right: calc(var(--space) * 2);
}
.site-navigation li + li {
  margin-left: calc(var(--space) * 2);
}
.entries {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.entries > li {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--space) * 4);
}
@media (min-width: 60em) {
  .entries > li {
    margin-bottom: calc(var(--space) * 4);
  }
}
@media (min-width: 90em) {
  .entries > li {
    margin-bottom: calc(var(--space) * 6);
  }
}
.entries .entry-title {
  margin: 0;
  font-size: calc(var(--big-text-ratio) * 1rem);
}
.entries .entry-created-at {
  margin-bottom: calc(var(--space) * 2);
  color: var(--color-main);
  font-size: calc(var(--text-ratio) * 0.85rem);
}
.entry .entry-title {
  margin: 0;
  font-size: calc(var(--big-text-ratio) * 1.5rem);
}
.entry img {
  max-width: 100%;
}
.entry .entry-tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.entry-tags {
  display: flex;
}
.entry-tags li {
  margin-right: calc(var(--space) * 4);
}
.entry-tags li > a::before {
  content: "#";
}
.entry-title {
  line-height: 1.1;
}
.entry-header {
  position: relative;
}
@media (min-width: 90em) {
  .entry-header {
    padding-left: calc(var(--space) * 4);
    border-left: calc(var(--border-size) * 4) solid var(--color-main);
  }
}
.entry-header .entry-created-at {
  display: block;
  border-top: var(--border-size) solid var(--color-main);
  font-size: calc(var(--text-ratio) * 0.9rem);
}
@media (min-width: 90em) {
  .entry-header .entry-created-at {
    position: absolute;
    top: 0;
    right: calc(100% + calc(var(--space) * 6));
    border-top: 0;
    font-size: inherit;
  }
}
.related-entries h1 {
  margin: 0 0 calc(var(--space) * 2);
  font-size: calc(var(--big-text-ratio) * 1rem);
}
.related-entries ul {
  margin: 0 0 calc(var(--space) * 8);
}
