:root {
  /* Color (general) */
  --color-bg--dark:  #393939;
  --color-bg--light:  #f9fcff;
  --color-text--light:  #f9fcff;
  --color-link: #0063ac;

  /* Color (this site context) */
  --color-main: #003760;

  --space: 4px;
  --border-size: 1px;

  --ratio: 1.5;
  --text-ratio: 1;
  --medium-text-ratio: calc((var(--text-ratio) + var(--ratio)) / 2);
  --big-text-ratio: calc(var(--text-ratio) * var(--ratio) / 1.2);
}
html {
  font-size: calc(var(--text-ratio) * 1.1rem);
}
@media (min-width: 60em) {
  html {
    font-size: calc(var(--medium-text-ratio) * 0.9rem);
  }
}
@media (min-width: 90em) {
  html {
    font-size: calc(var(--big-text-ratio) * 0.9rem);
  }
}
@media (min-width: 120em) {
  html {
    font-size: 1vw;
  }
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--color-bg--light);
  font-family: "Hiragino Kaku Gothic ProN", YuGothic, "游ゴシック", Helvetica, sans-serif;
  font-weight: 500;
  font-feature-settings: "palt";
  text-rendering: optimizeLegibility;
}
body > * {
  padding-right: 5%;
  padding-left: 5%;
}
@media (min-width: 60em) {
  body > * {
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media (min-width: 90em) {
  body > * {
    padding-right: 15%;
    padding-left: 15%;
  }
}
@media (min-width: 120em) {
  body > * {
    padding-right: 20%;
    padding-left: 20%;
  }
}
a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote {
  padding-left: calc(var(--space) * 2);
  border-left: calc(var(--border-size) * 4) solid var(--color-main);
}
h1 {
  color: var(--color-main);
}
pre code {
  display: block;
  padding: calc(var(--space) * 2);
  background-color: var(--color-bg--dark);
  color: var(--color-text--light);
  font-family: 'Fira Code', Consolas, 'Courier New', monospace;
}
.site-title {
  font-size: calc(var(--big-text-ratio) * 1rem);
  line-height: 1;
}
.site-title a {
  color: var(--color-text--light);
}
.site-title .author-icon {
  margin-right: var(--space);
}
.site-header {
  padding-top: calc(var(--space) * 4);
  padding-bottom: calc(var(--space) * 4);
  margin-bottom: calc(var(--space) * 8);
  background-color: var(--color-main);
}
.site-header .site-title {
  margin: 0;
}
.site-footer {
  clear: both;
  padding-top: calc(var(--space) * 8);
  padding-bottom: calc(var(--space) * 8);
}
.site-footer .author {
  position: relative;
}
@media (min-width: 90em) {
  .site-footer .author {
    display: flex;
    align-items: center;
    padding-left: calc(var(--space) * 4);
    border-left: calc(var(--border-size) * 4) solid var(--color-main);
  }
}
.site-footer .author h1 {
  margin: 0 0 calc(var(--space) * 2);
  font-size: calc(var(--big-text-ratio) * 1rem);
  line-height: 1;
}
@media (min-width: 90em) {
  .site-footer .author h1 {
    position: absolute;
    right: calc(100% + calc(var(--space) * 6));
    margin: 0;
    white-space: nowrap;
  }
}
.site-footer .author-icon {
  float: left;
  margin-right: calc(var(--space) * 2);
}
.site-footer .author-name {
  margin: 0;
  margin-right: calc(var(--space) * 2);
}
.site-footer .author-description {
  margin: 0;
}
.entries {
  padding: 0;
  margin: 0;
}
.entries > li {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--space) * 6);
}
@media (min-width: 60em) {
  .entries > li {
    align-items: center;
    flex-direction: row;
  }
}
.entries .entry-title {
  order: 2;
  margin: 0;
  font-size: calc(var(--big-text-ratio) * 1rem);
}
.entries .entry-created-at {
  order: 1;
  padding-left: calc(var(--space) * 2);
  margin-right: calc(var(--space) * 6);
  margin-bottom: calc(var(--space) * 2);
  border-left: calc(var(--border-size) * 4) solid var(--color-main);
  color: var(--color-main);
}
@media (min-width: 60em) {
  .entries .entry-created-at {
    padding-left: calc(var(--space) * 4);
    margin-bottom: 0;
  }
}
.entry .entry-title {
  margin: 0;
  font-size: calc(var(--big-text-ratio) * 1.5rem);
}
.entry blockquote,
.entry blockquote > p {
  font-family: "Hiragino Kaku Gothic ProN", YuGothic, "游ゴシック", Helvetica, sans-serif;
}
.entry img {
  max-width: 100%;
}
.entry p {
  font-family: "Hiragino Mincho ProN", YuMincho, "游明朝", Helvetica, sans-serif;
  font-weight: 400;
}
.entry .entry-tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.entry-tags {
  display: flex;
}
.entry-tags li {
  margin-right: calc(var(--space) * 4);
}
.entry-tags li > a::before {
  content: "#";
}
.entry-title {
  line-height: 1.1;
}
.entry-header {
  position: relative;
  padding-left: calc(var(--space) * 4);
  margin-right: calc(var(--space) * 8);
  border-left: calc(var(--border-size) * 4) solid var(--color-main);
  background-color: var(--color-bg);
}
.entry-header .entry-created-at {
  font-size: calc(var(--text-ratio) * 0.9rem);
}
@media (min-width: 90em) {
  .entry-header .entry-created-at {
    position: absolute;
    top: 0;
    right: calc(100% + calc(var(--space) * 6));
    font-size: inherit;
  }
}
