.com-Entry-EntryComponent-article {
  padding: 0 1rem;
  max-width: var(--page-max-width);
}
.com-Entry-EntryComponent-article__header {
  position: relative;
}
@media (min-width: 50em) {
  .com-Entry-EntryComponent-article {
    padding: 0;
    margin: 0 auto;
  }
}
@media (min-width: 70em) {
  .com-Entry-EntryComponent-article__header {
    padding-left: calc(var(--space) * 4);
    border-left: calc(var(--border-size) * 4) solid var(--color-main);
  }

  .com-Entry-EntryComponent-article__time {
    position: absolute;
    top: 0;
    right: calc(100% + calc(var(--space) * 6));
    border-top: 0;
  }
}

.com-Entry-EntryComponent-article h1,
.com-Entry-EntryComponent-article h2,
.com-Entry-EntryComponent-article h3 {
  margin: 0 0 calc(var(--space) * 2);
  font-weight: 500;
}

.com-Entry-EntryComponent-article h1 {
  font-size: calc(var(--text-ratio-huge) * 1rem);
}

.com-Entry-EntryComponent-article h2 {
  font-size: calc(var(--text-ratio-large) * 1rem);
}

.com-Entry-EntryComponent-article h3 {
  font-size: calc(var(--text-ratio-large) * 0.86rem);
}

.com-Entry-EntryComponent-article blockquote,
.com-Entry-EntryComponent-article ol,
.com-Entry-EntryComponent-article ul {
  margin: 1rem calc(var(--space) * 3);
}
