.com-Application-footer {
  padding: 0.5rem 1rem;
  background-color: var(--color-main);
  color: var(--color-text--light);
}
@media (min-width: 62.5em) {
  .com-Application-footer {
    padding: 0.5rem 0;
  }
}

.com-Application-footer > div {
  display: flex;
  max-width: 62.5em;
}
@media (min-width: 62.5em) {
  .com-Application-footer > div {
    margin: 0 auto;
  }
}

.com-Application-footer__description {
  margin: 0 0 0 0.5rem;
}
