.com-Application-footer {
  display: flex;
  padding: 0.5rem;
  background-color: var(--color-main);
  color: var(--color-text--light);
}

.com-Application-footer__description {
  margin: 0 0 0 0.5rem;
}
