.com-Application-header {
  display: flex;
  justify-content: center;
  padding: calc(var(--space) * 6) 0;
}

.com-Application-header__site-title {
  display: inline-block;
  padding: 0 calc(var(--space) * 3);
  margin: 0;
  background-color: var(--color-main);
  color: var(--color-text--light);
}

.com-Application-header__site-title a {
  color: var(--color-text--light);
}
