<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
{{ partial "site-header.html" . }}

<main class="site-contents">
    <h1 class="entry-title">
        {{ .Title }}
    </h1>

    <ul class="entries">
        {{ range .Data.Pages }}
            <li>
                <h2 class="entry-title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>
                <time datetime="{{ .PublishDate }}" class="entry-created-at">
                    {{ .PublishDate.Format "2006/01/02" }}
                </time>
            </li>
        {{ end }}
    </ul>
</main>

{{ partial "site-footer.html" . }}
</body>
</html>
